
<ul>
    <% for (var i in tips) { %>
        <% var tip = tips[i]; %>

        <li>

             <% if (tip.accepted) { %>

                 <%= tip.text %>

             <% } else if (session.user) { %>

                 <%= tip.text %>

                 <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>/accept?_method=PUT"><button>Accept</button></a>

             <% } %>

             <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>?_method=DELETE"><button>Delete</button></a>

        </li>
    <% } %>
</ul>
