
<div class="right">
    <form method="get" action="/quizzes">
        <input type="text" name="search" value="<%= locals.search || '' %>" placeholder="question to search" autocomplete="off" />
        <input type="submit" value="Search">
    </form>
</div>

<h1>
    <%= title || "Questions" %>:
</h1>

<table>
    <% for (var i in quizzes) { %>
    <% var quiz = quizzes[i]; %>
    <tr>
        <td>
            <a href="/quizzes/<%= quiz.id %>/play"><%= quiz.question %></a>
        </td>
        <td colspan="2">
            <small> (by <%= quiz.author ? quiz.author.username : "Anonymous" %>) </small>
        </td>

        <% if (session.user) { %>
            <% if (session.user.isAdmin || session.user.id === quiz.authorId) { %>
                <td>
                    <a href="/quizzes/<%= quiz.id %>"><button>show</button></a>
                </td>
                <td>
                    <a href="/quizzes/<%= quiz.id %>/edit"><button>edit</button></a>
                </td>
                <td>
                    <a href="/quizzes/<%= quiz.id %>?_method=DELETE"
                       onClick="return confirm('Delete: <%= quiz.question %>');">
                        <button>delete</button>
                    </a>
                </td>
            <% } %>
        <% } %>
    </tr>
    <% } %>
</table>

<% if (session.user) { %>
    <a href="/quizzes/new"><button type="button">Create New Question</button></a>
<% } %>
